/* Stylesheet for the NUTS Theme Options page */
#nuts-options-main-title {
  margin-bottom: 20px;
}
.clearfix {
  clear: both;
}
.meta-option {
  margin-top: 24px;
  width: 100%;
}
.meta-option .meta-option-label {
  width: 30%;
  display: inline-block;
  float: left;
  font-weight: bold;
}
.ui-tabs {
  position: relative;
  padding: .2em;
  zoom: 1;
}
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .3em .3em 0;
  border-bottom: 1px solid #ccc;
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  display: inline-block;
  position: relative;
  top: 1px;
  margin: 0 0.2em -4px 0;
  border-bottom: 0 !important;
  padding: 0;
  white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  font-size: 16px;
  background: #ddd;
  outline: none;
  cursor: pointer;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  margin-bottom: 0;
  padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  background: #f1f1f1;
  cursor: default;
}
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
}
.ui-tabs .ui-tabs-hide {
  display: none !important;
}
.static {
  font-weight: bold;
}
.optiondesc {
  padding: 0 10px 15px !important;
  border-bottom: 1px solid #ccc;
  font-style: italic;
  font-size: 12px !important;
}
.nuts-error {
  border: 1px solid #a00;
  border-radius: 3px;
  background: rgba(255, 0, 0, 0.2);
  display: inline-block;
  padding: 4px 12px;
  color: #a00;
}
/* Enter your custom LESS code for different media sizes */
.uploader .image-container {
  height: 150px;
  width: 150px;
  position: relative;
  float: left;
  margin-right: 16px;
}
.uploader .image-container .closer {
  width: 32px;
  height: 32px;
  background-image: url("../../../img/admin-icons.png");
  position: absolute;
  top: -5px;
  right: -5px;
  opacity: 0.75;
  cursor: pointer;
}
.uploader .image-container .closer .hovermsg {
  display: none;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  border: #222 1px solid;
  padding: 2px;
  font-size: 12px;
  color: #000;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  left: 20px;
}
