/* Stylesheet for the NUTS Theme Options page */


// Add some margin below the title for better look
#nuts-options-main-title {
	margin-bottom: 20px;
}


// Make it a new line
.clearfix {
	clear: both;
}


// Format of metabox elements
.meta-option {
	margin-top: 24px;
	width: 100%;

	.meta-option-label {
		width: 30%;
		display: inline-block;
		float: left;
		font-weight: bold;
	}
}



// The look of the tabs in Theme Options
.ui-tabs {
	position: relative;
	padding: .2em;
	zoom: 1;

	.ui-tabs-nav {
		margin: 0;
		padding: .3em .3em 0;
		border-bottom: 1px solid #ccc;

		li {
			list-style: none;
			display: inline-block;
			position: relative;
			top: 1px;
			margin: 0 .2em -4px 0;
			border-bottom: 0 !important;
			padding: 0;
			white-space: nowrap;

			a {
				float: left;
				padding: .5em 1em;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				font-size: 16px;
				background: #ddd;
				outline: none;
				cursor: pointer;
			}

			&.ui-tabs-selected {
				margin-bottom: 0;
				padding-bottom: 1px;
			}

			&.ui-tabs-active a {
				background: #f1f1f1;
				cursor: default;
			}
		}
	}

	.ui-tabs-panel {
		display: block;
		border-width: 0;
		padding: 1em 1.4em;
		background: none;
	}

	.ui-tabs-hide {
		display: none !important;
	}
}


// Some data type specific formatting
.static {
	font-weight: bold;
}


// Style of the option descriptions on Theme Options page
.optiondesc {
	padding: 0 10px 15px !important;
	border-bottom: 1px solid #ccc;
	font-style: italic;
	font-size: 12px !important;
}



// Error message box
.nuts-error {
	border: 1px solid #a00;
	border-radius: 3px;
	background: rgba(255,0,0,0.2);
	display: inline-block;
	padding: 4px 12px;
	color: #a00;
}
